<ion-view title="Confirmação" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div ng-class="logo">
      <img src="img/logo.png" class="block">
    </div>
    <h3 id="confirmacao-heading3" style="color:#000000;">Cliente cadastrado</h3>
    <div>
      <img src="img/UCFqwCjT0yLbdSjWH243_sucesso.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="confirmacao-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">Cliente cadastrado com sucesso!</p>
    </div>
    <a ui-sref="tabsController.detalheCliente()" id="confirmacao-button9" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-block button-outline icon ion-android-person"> Ver detalhes do cliente</a>
    <a ui-sref="tabsController.meusClientes()" id="confirmacao-button16" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-block button-outline icon ion-ios-list-outline"> Ver meus clientes</a>
    <a ui-sref="tabsController.meusClientes()" id="confirmacao-button17" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-block button-outline icon ion-android-person-add"> Tenho um novo cliente</a>
  </ion-content>
</ion-view>