<ion-view title="Confirmação" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div ng-class="logo">
      <img src="img/logo.png" class="block">
    </div>
    <h3 id="confirmacao-heading3">Cliente cadastrado</h3>
    <div class="espaco-top-2">
      <img src="img/ok.png" class="center">
    </div>
    <div id="confirmacao-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <h4 class="center">Cliente cadastrado com sucesso!</h4>
    </div>
    <a ui-sref="tabsController.detalheCliente()" id="confirmacao-button9" class="button button-positive button-block button-outline icon ion-android-person botao"> Ver detalhes do cliente</a>
    <a ui-sref="tabsController.meusClientes()" id="home-button1" class="button button-positive button-block button-outline icon icon-list botao"> Ver meus clientes</a>
    <a ui-sref="tabsController.novoCliente()" id="home-button14" class="button button-positive button-block button-outline icon icon-add botao"> Tenho um novo cliente</a>
  </ion-content>
</ion-view>