<ion-view title="Detalhe cliente" hide-nav-bar="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div ng-class="logo">
      <img src="img/logo.png" class="block">
    </div>
    <h3 id="detalheCliente-heading4">Nome do cliente</h3>
    <div class="detalhe-avatar">
      <img src="img/prof-f.png" class="center">
    </div>
    <ion-list id="detalheCliente-list2">
      <ion-item id="detalheCliente-list-item3" class="info-blue">E-mail:</ion-item>
      <ion-item id="detalheCliente-list-item4" class="info-blue">CPF:</ion-item>
      <ion-item id="detalheCliente-list-item5" class="info-blue">Data de nascimento:</ion-item>
      <ion-item id="detalheCliente-list-item6" class="info-blue">Idade:</ion-item>
    </ion-list>
    <a ui-sref="tabsController.meusClientes()" id="home-button1" class="button button-positive button-block button-outline icon icon-list botao"> Ver meus clientes</a>
    <a ui-sref="tabsController.novoCliente()" id="home-button14" class="button button-positive button-block button-outline icon icon-add botao"> Tenho um novo cliente</a>
  </ion-content>
</ion-view>