<ion-view title="Detalhe cliente" hide-nav-bar="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div ng-class="logo">
      <img src="img/logo.png" class="block">
    </div>
    <h3 id="detalheCliente-heading4" style="color:#000000;">Nome do cliente</h3>
    <div>
      <img src="img/MWrJk7KCTkKCrsyjo9pA_user.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="detalheCliente-list2">
      <ion-item id="detalheCliente-list-item5">Data de nascimento</ion-item>
      <ion-item id="detalheCliente-list-item6">Idade</ion-item>
    </ion-list>
    <a ui-sref="tabsController.meusClientes()" id="detalheCliente-button11" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-block button-outline icon ion-ios-list-outline"> Ver meus clientes</a>
    <a ui-sref="tabsController.novoCliente()" id="detalheCliente-button18" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-block button-outline icon ion-android-person-add"> Tenho um novo cliente</a>
  </ion-content>
</ion-view>