<ion-view title="Meus clientes" hide-nav-bar="true" id="page3">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div ng-class="logo">
      <img src="img/logo.png" class="block">
    </div>
    <h3 id="meusClientes-heading5">Meus clientes</h3>
    <form id="meusClientes-form2" class="list">
      <label class="item item-input item-icon-right item-stacked-label pesquisa" id="novoCliente-input2">
        <input type="search" placeholder="Pesquisar">
        <i class="icon ion-android-search"></i>
      </label>
      <div class="box-clientes">
        <ion-item class="cliente pink" id="meusClientes-list-item3" ui-sref="tabsController.detalheCliente()">
          <div class="row">
            <div class="col col-25">
              <div class="cliente-avatar"><img src=""></div>
            </div>
            <div class="col col-75">
              <h2 class="pink">Nome do Cliente</h2>
              <p>E-mail Cliente</p>
            </div>
          </div>
        </ion-item>
        <ion-item class="cliente blue" id="meusClientes-list-item7" ui-sref="tabsController.detalheCliente()">
          <div class="row">
            <div class="col col-25">
              <div class="cliente-avatar"><img src=""></div>
            </div>
            <div class="col col-75">
              <h2 class="blue">Nome do Cliente</h2>
              <p>E-mail Cliente</p>
            </div>
          </div>
        </ion-item>
        <ion-item class="cliente pink" id="meusClientes-list-item3" ui-sref="tabsController.detalheCliente()">
          <div class="row">
            <div class="col col-25">
              <div class="cliente-avatar"><img src=""></div>
            </div>
            <div class="col col-75">
              <h2 class="pink">Nome do Cliente</h2>
              <p>E-mail Cliente</p>
            </div>
          </div>
        </ion-item>
        <ion-item class="cliente blue" id="meusClientes-list-item7" ui-sref="tabsController.detalheCliente()">
          <div class="row">
            <div class="col col-25">
              <div class="cliente-avatar"><img src=""></div>
            </div>
            <div class="col col-75">
              <h2 class="blue">Nome do Cliente</h2>
              <p>E-mail Cliente</p>
            </div>
          </div>
        </ion-item>
      </div>
    </form>
    <div class="divisor"></div>
    <a ui-sref="tabsController.novoCliente()" id="home-button13" class="button button-positive button-block button-outline icon icon-add botao cliente-botao"> Tenho um novo cliente</a>
  </ion-content>
</ion-view>