<ion-view title="Novo cliente" hide-nav-bar="true" id="page4">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div ng-class="logo">
      <img src="img/logo.png" class="block">
    </div>
    <h3 id="novoCliente-heading1" style="color:#000000;">Novo Cliente</h3>
    <form id="novoCliente-form1" class="list">
      <ion-radio id="novoCliente-radio2" name="genero">Masculino</ion-radio>
      <ion-radio id="novoCliente-radio3" name="genero">Feminino</ion-radio>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <label class="item item-input item-stacked-label" id="novoCliente-input2">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="novoCliente-input3">
        <span class="input-label">Data de nascimento</span>
        <input type="datetime-local"> 
      </label>
      <h4 id="novoCliente-heading2" style="color:#000000;">Foto</h4>
      <button id="novoCliente-button6" class="button button-positive button-small button-block icon ion-paperclip"> Anexar</button>
      <a ui-sref="tabsController.confirmaO()" id="novoCliente-button7" class="button button-positive button-small button-block icon ion-checkmark-round"> Salvar</a>
      <a ui-sref="tabsController.meusClientes()" id="novoCliente-button8" class="button button-positive button-small button-block button-outline icon ion-close-round"> Cancelar</a>
    </form>
  </ion-content>
</ion-view>