<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-home" href="#/page1/home" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Meus clientes" icon-on="icon-list" icon-off="icon-list" href="#/page1/tab1/meus-clientes" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Novo cliente" icon-on="icon-add" icon-off="icon-add" href="#/page1/tab2/novo-cliente" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>